
* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", sans-serif;
}

.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  font-size: 36px;
}


.box{
  width: 100%;
  overflow: none;
}


.content-name{
  overflow: none;
  text-align: center;
  border: 3px solid black;
  width: 100px;
  height: 40px;
  padding: 5px;
  float: right;
  margin-right: 12.5px;
  margin-top: 0px;
  font-weight: bold;
  position: relative;
}

.content{

  border: 3px solid black;
  width: 95%;
  height: auto;
  margin-left: 20px;
  box-sizing: border-box;
  color: black
  font-size: 25px;
  padding-top: 55px;
  background-color: #808080;
}

.n1{
  background-color: #CD5C5C;
}

.n2{
  color: white;
  background-color: #B22222;
}
.n3{
  background-color: #F0E68C;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-12 {
    
    width: 100%;
  }
  .n1{
    margin-right: 1px;
    width: 100px;
  }
  .n2{
    margin-right: 1px;
    width: 100px;
  }
  .n3{
    margin-right: 22px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .content-name{
    float: right;
    
  }
}